.group-tr-qualifying-position {
  background-color: #4cc3554d; /* rgba(192, 222, 197, .3); */
}

.group-td-qualifying-position {
  background-color: #4cc35580; /* rgba(192, 222, 197, .7); */
}

.group-tr-danger-position {
  background-color: rgba(250, 122, 85, .3);
}

.group-td-danger-position {
  background-color: rgba(250, 122, 85, .5);
}

.group-cutoff-position {
  border-bottom: 2px dashed #c0c0c0;
}
