.group-tr-qualifying-position {
  background-color: rgba(76, 195, 85, 0.3);
}

.group-td-qualifying-position {
  background-color: rgba(76, 195, 85, 0.5);
}

.group-tr-danger-position {
  background-color: rgba(250, 122, 85, .3);
}

.group-td-danger-position {
  background-color: rgba(250, 122, 85, .5);
}

.group-cutoff-position {
  border-bottom: 2px dashed #c0c0c0;
}
